@font-face {
    font-family: "YuPearl";
    src: url("Myfont.eot"); /* IE9 */
    src: url("Myfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Myfont.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Myfont.woff") format("woff"), /* chrome, firefox */
    url("Myfont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Myfont.svg#YuPearl") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


